* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
}

p {
    margin-bottom: 1rem;
}

:root {
    /*TODO: make dark theme look good*/
    color-scheme: light /*dark*/;
    --background-color: light-dark(#ffffff, #333333);
    --background-color-1: light-dark(#f4f4f4, #383838);
    --background-color-2: light-dark(#e0e0e0, #3d3d3d);
    --text-color: light-dark(#000, #ddd);
    --accent-color: light-dark(#1ea81e, #145d14);

    color: var(--text-color);
    background-color: var(--background-color);
    font-family: sans-serif;
}

.docs-page {
    display: grid;
    grid-template-areas: "header header header"
                         "sidebar content ."
                         "footer footer footer";
    grid-template-rows: 3rem 1fr 5rem;
    grid-template-columns: 1fr fit-content(1200px) 1fr;
    min-height: 100vh;

    > header {
        grid-area: header;
        padding: 5px;
        text-align: center;
        background-color: var(--accent-color);

        > #nav-sidebar-checkbox {
            display: none;
        }
    }

    > aside {
        grid-area: sidebar;
        position: sticky;
        top: 0;
        width: 250px;
        height: fit-content;
        padding: 20px;
        background-color: var(--background-color-2);
    }

    > main {
        grid-area: content;
        place-self: start center;
        padding: 20px;
        max-width: 1200px;
        background-color: var(--background-color);

        > :first-child {
            margin-top: 0;
        }
    }

    > footer {
        grid-area: footer;
        padding: 10px;
        text-align: center;
        background-color: var(--background-color-1);
    }
}

@media screen and (width < 800px) {
    .docs-page > aside {
        position: relative;
        grid-area: content;
        z-index: 1000;

        /*position: fixed;*/
        /*top: 3rem;*/
        /*left: 0;*/
        /*height: 100vh;*/
        /*width: 100%;*/
        /*overflow-y: auto;*/
        /*z-index: 1000;*/
    }

    .docs-page > header > #nav-sidebar-checkbox {
        display: inline-block;
        appearance: none;
        background-image: /*[('url(' + @{/icons/list-light.svg} + ')')]*/ none;
        /*@media (prefers-color-scheme: dark) {
            background-image: !*[('url(' + @{/icons/list-dark.svg} + ')')]*! none;
        }*/
        background-size: contain;

        background-color: var(--background-color-1);
        border-radius: 5px;

        float: left;
        height: 100%;
        aspect-ratio: 1;

        cursor: pointer;
    }

    .docs-page:not(:has(> header > #nav-sidebar-checkbox:checked)) > aside {
        display: none;
    }
}
