:root {
    /*TODO: make dark theme look good*/
    color-scheme: light;
    --background-color: light-dark(#ffffff, #272d26);
    --background-color-1: light-dark(#f4f4f4, #383838);
    --background-color-2: light-dark(#e0e0e0, #3d3d3d);
    --text-color: light-dark(#000, #ddd);
    --accent-color: light-dark(#1ea81e, #145d14);
    --link-color: light-dark(#145d14, #1ea81e);

    color: var(--text-color);
    background-color: var(--background-color);
    font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        height: 2px;
        inset-block-end: .2em;
        inset-inline: 0;
        background-color: var(--text-color);
    }
}

a, a:visited {
    color: var(--link-color);
}

:not(pre) > code {
    background-color: var(--background-color-1);
    outline: 2px solid var(--background-color-2);
    border-radius: 3px;
    padding-inline: .2em;
}

pre:has(code:only-child) {
    background-color: var(--background-color-1);
    outline: 2px solid var(--background-color-2);
    border-radius: 3px;
    padding: 4px;

    overflow-x: auto;
}

.vertical-nav {
    ul {
        padding-inline-start: 2em;
        list-style: none;
        margin-bottom: 0;
    }

    > ul {
        padding-inline-start: 0;
    }
}

table {
    border-collapse: collapse;
}

td {
    padding: 2px 6px;
    border: 1px solid var(--text-color);
}

th {
    padding: 0 10px;
    border-bottom: 2px solid var(--text-color);
}

tr:last-child td {
    border-bottom: none;
}

tr td:last-child {
    border-right: none;
}

tr td:first-child {
    border-left: none;
}

tr:nth-child(even) {
    background-color: var(--background-color-1);
}

@media screen and (width < 800px) {
    .docs-page > aside {
        position: relative;
        grid-area: content;
        z-index: 1000;
    }

    .docs-page > header > #nav-sidebar-checkbox {
        display: inline-block;
        appearance: none;
        background-image: /*[('url(' + @{/icons/list-light.svg} + ')')]*/ none;
        /*@media (prefers-color-scheme: dark) {
            background-image: !*[('url(' + @{/icons/list-dark.svg} + ')')]*! none;
        }*/
        background-size: contain;

        background-color: var(--background-color-1);
        border-radius: 5px;

        float: left;
        height: 100%;
        aspect-ratio: 1;

        cursor: pointer;
    }

    .docs-page:not(:has(> header > #nav-sidebar-checkbox:checked)) > aside {
        display: none;
    }
}
